.rodapie__item {
    list-style: none;
}

@media screen and (min-width: 0) {
    .rodapie__item {
        justify-content: center;
        align-self: center;
    }
    
}

@media screen and (min-width: 768px) {
    .rodapie__item {
        justify-content: center;
        align-items: center;
    }
}