.persona__imagen {
    height: 220px;
    width: 220px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.persona__imagen--roberta {
    background-image: url(../../img/personas/roberta.jpg);
}

.persona__imagen--marcela {
    background-image: url(../../img/personas/marcela.jpg);
}

.persona__imagen--andrea {
    background-image: url(../../img/personas/andrea.jpg);
}